<h2>My Contacts</h2>

<div>
  <label>Add new contact:
    <input #contactName class="form-control"/>
  </label>
  <button class="btn btn-success" (click)="add(contactName.value); contactName.value=''">
    Add
  </button>
</div>


<ul class="contacts">
  <li *ngFor="let contact of contacts">
    <a routerLink="/detail/{{contact.id}}">
       {{contact.name}}
  </a>
    <button class="delete" title="delete contact"
    (click)="delete(contact)">x</button>

  </li>
</ul>

<br>
<app-contact-search></app-contact-search>
