.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.contacts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.contacts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 20px 20px;
  height: 4em;
  border-radius: 4px;
  width: 20em;
}

.contacts a {
  color: #333!important;
}
.contacts li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.contacts li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

button.delete {
  position: relative;
  left: 235px;
  top: -20px;
  background-color: gray !important;
  color: white;
  display: inline;
}
