<div *ngIf="contact">

<h2>About Contact: {{ contact.name }}</h2>
<div>
  <div><span>ID: </span>{{ contact.id }}</div>
  <div class="form-group">
    <label>Name:
    <input class="form-control" [(ngModel)]="contact.name" placeholder="name">
    </label>
  </div>
  <div class="form-group">
    <label>Surname:
    <input class="form-control" [(ngModel)]="contact.surname" placeholder="surname">
    </label>
  </div>
  <div class="form-group">
    <label>Address:
    <input class="form-control" [(ngModel)]="contact.address" placeholder="address">
    </label>
  </div>
  <div class="form-group">
    <label>ZIP Code:
    <input class="form-control" [(ngModel)]="contact.zipcode" placeholder="zipcode">
    </label>
  </div>
  <div class="form-group">
    <label>City:
    <input class="form-control" [(ngModel)]="contact.city" placeholder="city">
    </label>
  </div>
  <div class="form-group">
    <label>Country:
    <input class="form-control" [(ngModel)]="contact.country" placeholder="scountry">
    </label>
  </div>
  <div class="form-group">
    <label>Phone Number:
    <input class="form-control" [(ngModel)]="contact.phone1" placeholder="phone1">
    </label>
  </div>
  <div class="form-group">
    <label>Phone Number:
    <input class="form-control" [(ngModel)]="contact.phone2" placeholder="phone2">
    </label>
  </div>
  <div class="form-group">
    <label>Email:
    <input class="form-control" [(ngModel)]="contact.email" placeholder="email">
    </label>
  </div>
</div>
  <br>
  <button (click)="save()" class="btn btn-success">Save</button>
  <button (click)="goBack()" class="btn btn-default">Go Back</button>
</div>

